{% extends "homepage.html" %}

{% block titulo %}
    Criar conta
{% endblock %}

{% block formulario %}
    <form method="post" class="popup">
        {{ form.csrf_token }}
        <img src="{{ url_for('static', filename='imagens/picline.svg') }}" />
        <h2>Criar uma conta</h2>
        <div class="div-input">
            {{ form.email.label(class="label") }}
            {% if form.email.errors %}
                {% for erro in form.email.errors %}
                    <p class="erro">{{ erro }}</p>
                {% endfor %}
            {% endif %}
            {{ form.email(class="input") }}
        </div>
        <div class="div-input">
            {{ form.nome.label(class="label") }}
            {% if form.nome.errors %}
                {% for erro in form.nome.errors %}
                    <p class="erro">{{ erro }}</p>
                {% endfor %}
            {% endif %}
            {{ form.nome(class="input") }}
        </div>
        <div class="div-input">
            {{ form.username.label(class="label") }}
            {% if form.username.errors %}
                {% for erro in form.username.errors %}
                    <p class="erro">{{ erro }}</p>
                {% endfor %}
            {% endif %}
            {{ form.username(class="input") }}
        </div>
        <div class="div-input">
            {{ form.senha.label(class="label") }}
            {{ form.senha(class="input") }}
        </div>
        <div class="div-input">
            {{ form.confirmacao_senha.label(class="label") }}
            {% if form.confirmacao_senha.errors %}
                {% for erro in form.confirmacao_senha.errors %}
                    <p class="erro">{{ erro }}</p>
                {% endfor %}
            {% endif %}
            {{ form.confirmacao_senha(class="input") }}
        </div>
        <div class="div-botao">
            {{ form.botao_confirmacao(class="botao-login") }}
            <a href="{{ url_for('homepage') }}" class="link-criarconta">Já tem uma conta? Faça login</a>
        </div>
    </form>
{% endblock %}