@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #333;
}

nav {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #c00;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: inline;
}

img {
    width: 100%;
}

header{
    position: absolute;
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.logo-picline {
    display: flex;
    align-items: center;
    width: fit-content;
    column-gap: 6px;
    text-decoration: none;
}

.logo-picline img{
    width: 11%;
}

.link-nav {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.link-nav:hover {
    text-decoration: underline;
}

.restante-nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: fit-content;
}

.container{
    padding-top: 80px;
}

.container-login {
    padding-bottom: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-imagem-picline {
    width: 100%;
    position: fixed;
    top: 50vh;
}

.container-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container-popup img{
    width: 11%;
}

.popup {
    width: 100%;
    max-width: 500px;
    max-height: 435px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container-popup::-webkit-scrollbar,  .popup::-webkit-scrollbar{
    display: none;
}

.div-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.div-botao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-top: 10px;
}

.label {
    margin-right: auto;
    margin-left: 15px;
    font-size: 15px;
}

.input {
    width: 100%;
    font-size: 16px;
    padding: 15px;
    border: 2px solid #cdcdcd;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.botao-login {
    border-radius: 25px;
    padding: 15px 20px;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-color: #e60023;
    color: #fff;
}

.botao-login:hover {
    background-color: #d50c22;
}

.link-criarconta {
    color: #333;
    text-decoration: none;
}

.link-criarconta:hover {
    color: #333;
    text-decoration: underline;
}

.botao-perfil a {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}

.botao-perfil a:hover {
    background-color: #777;
    text-decoration: none;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 100vw;
    column-gap: 10px;
    row-gap: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.bloco-add-img{
    background: #e3e3e3;
    border-radius: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.bloco-imagem{
    text-decoration: none;
    color: black;
    text-align: center;
    position: relative;
}

.bloco-imagem img {
    border-radius: 20px;
    height: 40vh;
    object-fit: cover;
    transition: 0.3s ease;
}

.bloco-imagem:hover .bloco-exclusao{
    opacity: 1;
}

.feed .bloco-imagem:hover img{
    filter: brightness(0.7);
}

.bloco-exclusao{
    position: absolute;
    width: 100%;
    margin-top: 3px;
    opacity: 0;
    transition: 0.7s cubic-bezier(0.07, 0.13, 0.37, 1.31);
}

.bloco-exclusao a{
    background: none;
    border: 0;
    cursor: pointer;
}

.bloco-exclusao img{
    width: 4vh;
    height: unset;
    object-fit: unset;
    padding: 3px;
    border-radius: 100px;
    background: #e60023;
    margin-bottom: -3px;
}

.bloco-dados-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.profile-pic{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.botao-arquivo {
    padding: 5px 10px;
    border-radius: 15px;
    border: 0;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.bloco-arquivo {
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.input-arquivo {
    display: none;
}

#imagem-arquivo {
    display: none;
}

#imagem-arquivo.visivel {
    display: inline-block;
    text-align: center;
}

.bloco-add-img .botao-login {
    width: auto;
}

.bloco-input-botao {
    display: flex;
    column-gap: 20px;
}

p.erro{
    color: red;
    text-align: left;
    margin-left: 15px;
    margin-right: auto;
}

@media only screen and (max-width: 850px) {
    .conteudo{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 565px) {
    .conteudo{
        grid-template-columns: 1fr 1fr;
    }
}